body {
  background: linear-gradient(90deg, rgba(48, 118, 255, 1) 0%, rgba(230, 152, 160, 1) 100%);
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list {
  background-color: black;
  width: 520px;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  margin: 208px auto;
  min-height: 504px;
  border-radius: 10px;
}

.todo-list ul li {
  background-color: aqua;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 370px;
  list-style: none;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-bt {
  cursor: pointer;
}

.icon-bt .delete-icon {
  margin-right: 10px;

  font-size: 24px;
  color: white;
}
.icon-bt .edit-icon {
  font-size: 24px;
  color: white;
}

.todo-header {
  padding: 20px;
  border-radius: 10px 10px 0 0;
}
.todo-input {
  width: 320px;
  border: 2px solid #5d0cff;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: transparent;
  color: white;
  padding: 14px;
}

.todo-button {
  padding: 16px;
  width: 75px;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
}

.todo-name {
  color: white;
  width: 90%;
  background: linear-gradient(90deg, rgba(48, 16, 255, 10) 0%, rgba(255, 0, 101, 1) 100%);
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.todo-form {
  margin-bottom: 30px;
}

.icon-search {
  float: right;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 25px 0 0 0;
}

.todo-title {
  display: flex;
  margin-bottom: 30px;
}

.todo-title h2 {
  color: white;
  width: 90%;
}

.click-checkbox {
  margin-right: 10px;
}

.todo-right {
  display: flex;
}
